[include]
  path = ~/.gitconfig-personal
[include]
  path = ~/.gitconfig-league
[init]
  defaultBranch = main
[core]
	commitGraph = true
	editor = nvim
	ignorecase = false
[init]
	defaultBranch = main
[push]
	default = current ; Automatically set upstream branch when pushing when specifying -u.
	autoSetupRemote = true ; Automatically run -u if no upstream branch has been specified.
[pull]
	rebase = true
[alias]
	adog = log --all --decorate --oneline --graph
  fpush = push --force-with-lease
  blog = log main.. --oneline
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
  odiff = !sh -c 'git diff origin/$(git branch --show-current)'
  mt = mergetool
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  side-by-side = true
  diff-so-fancy = false
[mergetool]
	keepBackup = false
	trustExitCode = true
[mergetool "nvimdiff4"]
  cmd = nvim $MERGED
[merge]
	tool = nvimdiff4
; [merge]
; 	tool = nvimdiff
; [mergetool "vimdiff"]
;   layout = "(LOCAL,REMOTE)/MERGED"
