[user]
 	name = Thomas Hoggard
 	email = mail@thomashoggard.com
[push]
	default = current
[credential]
	helper = libsecret
[alias]
	adog = log --all --decorate --oneline --graph
[init]
	defaultBranch = main
[pull]
	rebase = false
