[submodule "personal"]
	path = personal
	url = git@github.com:thomashoggard/.dotfiles-personal.git
[submodule "league"]
	path = league
	url = git@github.com:thomashoggard/.dotfiles-league.git
[submodule "alacritty-themes"]
	path = alacritty/.config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
