[submodule "personal"]
	path = personal
	url = https://github.com/thomashoggard/.dotfiles-personal.git
[submodule "league"]
	path = league
	url = https://github.com/thomashoggard/.dotfiles-league.git
