snippet ireact
	import * as React from "react";

snippet useState "React.useState"
	const [$1, set$2] = React.useState<$3>($0);

snippet useEffect "React.useEffect"
	React.useEffect(() => {
		$1
	}, [])
