gui:
  nerdFontsVersion: "3"
  showRandomTip: false
  expandFocusedSidePanel: true
  theme:
    selectedLineBgColor:
      - reverse
git:
  autoFetch: false
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
# os:
#   edit: nvim --server /tmp/nvim-server-$(tmux display-message -p '#S').pipe --remote-send "<cmd>lua require('scripts.lazygit-open-file')('{{filename}}', '{{line}}')<CR>"
#   open: nvim --server /tmp/nvim-server-$(tmux display-message -p '#S').pipe --remote-send "<cmd>lua require('scripts.lazygit-open-file')('{{filename}}', '{{line}}')<CR>"
customCommands:
  - key: n
    context: "localBranches"
    prompts:
      - type: "input"
        title: >
          New Branch Name? (Branch is off of '{{.CheckedOutBranch.Name}}')

        key: "BranchName"
        initialValue: ""
    command: >
      git checkout -b {{.Form.BranchName}}

    loadingText: "Creating branch"
